.container {
    width: 1190px;
    margin: 0 auto;
}

/* #region顶部导航条 */
.topbar {
    height: 30px;
    background-color: #ECECEC;
}

.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    /* 去除行内元素缝隙 */
    color: #666666;
}

.welcome span,
.welcome a {
    font-size: 12px;
}

.welcome .hello {
    margin-right: 28px;
}

.welcome .login {
    /* 如果写margin的话 依据盒子模型 content padding border margin 所设置的边框会挨着content */
    padding-right: 10px;
    border-right: 1px solid #666666;
}

.welcome .register {
    padding-left: 10px;
}

.topbar-nav .list li {
    float: left;
}

.topbar-nav .list {
    height: 30px;
    line-height: 30px;
}

.topbar-nav .list li a {
    padding: 0 15px;
    border-right: 1px solid #666666;
}

.topbar-nav .list li:first-child a {
    padding-left: 0;
}

.topbar-nav .list li:last-child a {
    padding-right: 0;
    border: 0;
}
/* #endregion */

/* #region头部 */
.header {
    height: 120px;
    /* background-color: aliceblue; */
}

.search {
    margin-top: 42px;
    font-size: 0;
}

.header .search input {
    border: 1px solid #DD302D;
    width: 508px;
    height: 34px;
}

.header .search button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    background-image: url("../images/serch_icon.png");
    background-position: 28px 6px;
    background-repeat: no-repeat;
    /* 让 button 顶部对齐 input 的顶部 */
    vertical-align: top;
}
/* #endregion */

/* #region主导航*/
.main-nav {
    border-bottom: 1px solid #DD302D;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
}
.main-nav .menu {
    background-color: #DD302D;
    width: 190px;
    color: #FFFFFF;
    text-align: center;
}
.main-nav ul li a {
    float: left;
    color: #333333;
    margin-right: 20px;
}
.main-nav ul li:first-child a {
    margin-left: 10px;
}
.main-nav ul li:last-child a {
    margin: 0;
}
/* #endregion主导航*/

/* #region内容 */
.main-content {
    margin-top: 10px;       
}
.main-content .left-nav {
    width: 190px;
    height: 458px;
    background-color: #f4f4f4;
}
.main-content .left-nav ul {
    position: relative; /* 给爷爷相对定位 如果是li定位就会造成 二级菜单随着每一项一起动 */
}
.main-content .left-nav ul li {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    padding-left: 16px;
    color:#333333;
}
.main-content .left-nav ul li:hover {
    background-color: #DD302D;
}
.main-content .left-nav ul li:hover>a {
    color: white;
}
.main-content .left-nav .second-menu {
    background-color: white;
    width: 700px;
    height: 458px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 190px;
    display: none;
}
.main-content .left-nav ul li:hover .second-menu {
    display: block;
}
.main-content .second-menu dl {
    height: 36px;
    line-height: 36px;
}
.main-content .second-menu dt {
    float: left;
    margin: 0 20px;
    font-weight: bold;
    width: 70px;
}
.main-content .second-menu dd {
    float: left;
}
.main-content .second-menu dd a {
    padding:0 10px;
    border-left: 1px solid #333333;
    
}
/* #endregion */

.main-content .banner {
    width: 690px;
    height: 458px;
    background-color: #f4f4f4;
    margin: 0 10px;
}
/* #region右侧尚品快报 */
.main-content .other {
    width: 290px;
    height: 458px;
    /* background-color: #f4f4f4; */
}

.main-content .other .ad {
    width: 260px;
    height: 156px;
    border: 1px solid #D9D9D9;
    padding: 0 14px;
}
.main-content .other .ad .title {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #D9D9D9;
}
.main-content .other .ad .title span {
    font-size: 14px;
}
.main-content .other .ad .title a {
    font-size: 12px;
}
.main-content .other .ad .msg-list ul li {
    margin-bottom: 12px;
    font-size: 12px;    
    height: 14px;
}
.main-content .other .ad .msg-list ul li:first-child {
    margin-top: 8px;
}
.main-content .other .ad .msg-list ul li:last-child {
    margin-bottom: 18px;
}

/* #endregion */

/* #region精灵图 */
.main-content .other .other-nav {
    width: 290px;
    height: 290px;
    /* background-color: #666666; */
    margin-top: 10px;
}
.main-content .other .other-nav .other-nav-list li {
    width: 48px;
    height: 70px;
    /* background-color: aquamarine; */
    float: left;
    margin: 0 11px;
    margin-top: 16px;
    text-align: center;
}
.main-content .other .other-nav .other-nav-list li:first-child {
    margin-left: 16px;
}
.main-content .other .other-nav .other-nav-list li:last-child {
    margin-right: 16px;
}
.main-content .other .other-nav .other-nav-list .pic {
    width: 48px;
    height: 48px;
    background-image: url('../images/精灵图-侧边功能.png');
}
.main-content .other-nav-list:nth-child(1) li:nth-child(1) .pic {
    background-position: 0 0;
}
.main-content .other-nav-list:nth-child(1) li:nth-child(2) .pic {
    background-position: -48px 0;
}
.main-content .other-nav-list:nth-child(1) li:nth-child(3) .pic {
    background-position: -96px 0;
}
.main-content .other-nav-list:nth-child(1) li:nth-child(4) .pic {
    background-position: -144px 0;
}
.main-content .other-nav-list:nth-child(2) li:nth-child(1) .pic {
    background-position: 0 -48px;
}
.main-content .other-nav-list:nth-child(2) li:nth-child(2) .pic {
    background-position: -48px -48px;
}
.main-content .other-nav-list:nth-child(2) li:nth-child(3) .pic {
    background-position: -96px -48px;
}
.main-content .other-nav-list:nth-child(2) li:nth-child(4) .pic {
    background-position: -144px -48px;
}
.main-content .other-nav-list:nth-child(3) li:nth-child(1) .pic {
    background-position: 0 -96px;
}
.main-content .other-nav-list:nth-child(3) li:nth-child(2) .pic {
    background-position: -48px -96px;
}
.main-content .other-nav-list:nth-child(3) li:nth-child(3) .pic {
    background-position: -96px -96px;
}
.main-content .other-nav-list:nth-child(3) li:nth-child(4) .pic {
    background-position: -144px -96px;
}
/* #endregion */

/* #region秒杀 */
.main-content .miaosha img {
    margin-right: 11px;
    margin-top: 10px;
}
.main-content .miaosha img:last-child {
    margin-right: 0;
}
/* #endregion */

/* #region楼层顶部 */
.floor {
    margin-top: 48px;
}
.floor .floor-top {
    height: 30px;
    line-height: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}
.floor .floor-top span {
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.floor .floor-top ul li {
    float: left;
    font-size: 16px;
}
.floor .floor-top ul li a {
    padding:0 10px;
    border-right: 1px solid #666666;
}
.floor .floor-top ul li:first-child a {
    padding-left: 0;
}
.floor .floor-top ul li:last-child a {
    padding-right: 0;
    border-right: 0;
}
/* #endregion */

/* #region楼层底部 */
.floor {
    margin-top: 48px;
}
.floor .floor-bottom .i {
    float: left;
}
.floor .floor-bottom .i1 {
    width: 190px;
    height: 392px;
    padding: 20px;
    background-color: #f4f4f4;    
}
.floor .floor-bottom .i1 ul li {
    width: 90px;
    padding-bottom: 3.5px;
    border-bottom: 1px solid #D9D9D9;
    text-align: center;
    font-size: 16px;
}
.floor .floor-bottom .i1 ul li:nth-child(2n+1) {
    float: left;
}
.floor .floor-bottom .i1 ul li:nth-child(2n) {
    float: right;
}
.floor .floor-bottom .i1 ul li:nth-child(3) {
    margin: 14px 0;
}
.floor .floor-bottom .i1 ul li:nth-child(4) {
    margin: 14px 0;
}
.floor .floor-bottom .i1 ul {
    margin-bottom: 30px;
}
.floor .floor-bottom .i2 {
    width: 340px;
    height: 432px;
}
.floor .floor-bottom .i3 {
    width: 206px;
    height: 430px;
    border-right: 1px solid #e2e2e2;
}
.floor .floor-bottom .i3 .i3-top,
.floor .floor-bottom .i3 .i3-bottom,
.floor .floor-bottom .i4,
.floor .floor-bottom .i5 .i5-top,
.floor .floor-bottom .i5 .i5-bottom {
    border-bottom: 1px solid #E2E2E2;
}
.floor .floor-bottom .i4 {
    width: 206px;
    height: 431px;
    border-right: 1px solid #e2e2e2;
}
.floor .floor-bottom .i5 {
    width: 206px;
    height: 430px;
}
/* #endregion */

/* #region页脚 */
.footer {
    height: 440px;
    background-color: #483E3E;
    margin-top: 48px;
}
.footer .top-links ul {
    float: left;
    margin-top: 48px;
    height: 176px;
}
.footer .top-links ul li {
    width: 190px;
}
.footer .top-links ul li a{
    font-size: 14px;
    color: #FFFFFF;
}
.footer .top-links .links-list:nth-child(1) {
    margin-right: 11px;
}
.footer .top-links .links-list:nth-child(2) {
    margin-right: 9px;
}
.footer .top-links .links-list:nth-child(3) {
    margin-right: 10px;
}
.footer .top-links .links-list:nth-child(4) {
    margin-right: 14px;
}
.footer .top-links .links-list:nth-child(5) {
    margin-right: 6px;
}
.footer .fg-line {
    background-color: #584D4D;
    height: 1px;
    margin-top: 22px;
}
.footer .bottom-links .bottom-links-list {
    text-align: center;
}
.footer .bottom-links .bottom-links-list  ul {
    margin-top: 47px;
    display: inline-block;
}
.footer .bottom-links .bottom-links-list  ul li {
    float: left;
}
.footer .bottom-links .bottom-links-list  ul li a {
    font-size: 12px;
    color: #FFFFFF;
    padding: 0 26px;    
    border-right: 1px solid #D9D9D9;
}
.footer .bottom-links .bottom-links-list  ul li:first-child a {
    padding-left: 0;
}
.footer .bottom-links .bottom-links-list  ul li:last-child a {
    border-right: 0;
    padding-right: 0;
}
.footer .copyright {
    width: 190px;
    height: 18px;
    margin: 0 auto ;
    margin-top: 10px;
    font-size: 12px;
    color: #FFFFFF;
}